/* https://github.com/chakra-ui/chakra-ui/blob/93b8bd89162c0bdb1db6cd9149205d50171ba29f/packages/switch/src/switch.tsx */

.chakra-switch {
  border-color: black;
  border-width: 2px;
  border-radius: 20px;
}

.chakra-switch .chakra-switch__track {
  background-color: #ffffff;
}

.chakra-switch .chakra-switch__thumb {
  background-color: #ffe493;
  border-width: 2px;
  border-color: black;
}

.chakra-switch .chakra-switch__thumb[data-checked] {
  background-color: #78e08f;
}
